extends ../layouts/trainerMenu
block content

    h1 List Trainer with Course
    table.table 
        tr 
            th Course
            th Trainer Name
          
        each view in views
            tr
                td=  view.courseName
                td= view.trainer
              
    


